/* =============== GOOGLE FONTS =============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =============== VARIABLES CSS ===============*/

:root{
    /* ====== Colors ====== */
    
    --skin-color: hsl(342, 92%, 46%);
    --grey-background: rgb(36, 36, 36);
    --title-color:white;
    --text-color: white;
    --body-color:black;

    /* --skin-color:hsl(72, 81%, 43%); */
    /* --skin-color:rgb(0, 157, 171); */
    /* --skin-color:rgb(0, 60, 199); */
    /* --skin-color:rgb(229, 95, 23); */
    
    --biggest-font-size: 3rem;
    --normal-font-size: 1.5rem;
    transition: all .75s ease;

    
}
/* ========== ⬇️ SCREEN 420PX OR LESS ⬇️ ====== ⬇️ SCREEN 420PX OR LESS ⬇️ ==========*/
   
/*when screen is 800px or less */
@media screen and (max-width: 800px) {
    :root{
    --biggest-font-size: 2rem !important;
        margin-left: 0px;
    }
    
    .sidebar{
        display:none;
    }
    .main{
        margin-left: 0px;
    }
    #home{
        margin-left: -100px;
        padding-top: 3vh;
    }
    .home-intro-text> h1{
        font-size: 1.75rem !important;
    }
    .home-container{
        flex-wrap: wrap-reverse;
        width:  100vw !important;
    }
    /* home-img-content is box above home-text-content 
    inside home-img-content is home-img & mobile-social */
    .home-img-content{
        display: flex;
        margin-left: 100px !important;

    }
    .home-img{
        height: 30vh!important;
        max-width: fit-content;
    }
    
    .home-social-mobile{
        visibility: visible !important;
        justify-content: center;
        transform: rotate(90deg);
    }
    .home-text-content{
        width: 80vw !important;
        height:60vh !important;
        text-align: center;
    }
    .home-main-button{
        margin-left: auto;
        margin-right: auto;
    }
    
    #projects{
        margin-left: -100px;
        
    }
    .todo-project-container , .library-project-container, .ttt-project-container{
        flex-wrap: wrap;
        margin-left: -100px;
        max-width: 100vw;
        margin: 10vh 10vw 10vh 10vw !important;
    }
    .ttt-project-container{
        flex-wrap: wrap-reverse !important;
    }

    .ttt-info-box-grey {
        margin-right: 0px !important;
        margin-top: 2vh !important;

    }
    .todo-info-p{
        margin-left: 0px !important;
        margin-top: 2vh !important;
    }
    .todo-img, .ttt-img,.lib-img{
        max-width: 80vw !important;
    }

    .todo-project-text-container,.library-project-text-container, .ttt-project-text-container{
        text-align: center !important;
        padding-top: 2vh;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .project-title{
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    .project-links{
        margin-top: 5vh;
    }

    .portfolio-title{padding-top:5vh !important;}

    .contact-container{
        margin-left: -100px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .contact-info{
        width: 90vw;
        text-indent: 10px;
        padding-bottom: 10vh;
    }
    .contact-link{
        font-size: var(--biggest-font-size);
        margin-bottom: 20vh;

    }

    #set-theme{
        left: 3vw !important;
        top: 8vh !important;        
        visibility: hidden ;
        z-index: 200;
        background-color: var(--skin-color) !important;


    }
    #night-mode, #day-mode{
        left: 3vw !important;
        top: 12vh !important; 
        visibility: hidden ;
        background-color: var(--skin-color) !important;
        z-index: 200;

    }
    #scroll-up {
        top: 90vh !important;
        right: 6vw !important;
        
    }
    .home-email{
        justify-content: center;
    }

    
    #mobile-social{
        margin-bottom: 1vh;
        visibility: visible !important;
        margin-left: 9vw;
        z-index: 100;
    }
    #desktop-social{visibility: hidden !important;}
    #desktop-email{visibility: hidden !important;}
    .theme-colors{
        left: 10vw !important;
        top: 3vh !important;
    }

    .mobile-home-container{
        visibility: visible !important;
        display: flex !important;
        height: 100vh !important;
        margin-top: -10vh !important;
        padding-bottom: 10vh;
        
    }
    /* .mobile-home-text-container, .mobile-home-img-container{} */
    .mobile-home-text-container{
        margin-top: -20vh !important;
    }
    .home-container{
        visibility: hidden !important;
        display: none !important;
    }
    #mobile-menu{
        display: flex !important;
        visibility: visible !important;
    }
    #library-mobile-title, #ttt-mobile-title, #todo-mobile-title{
        visibility: visible !important;
        margin-bottom: 2vh;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        width: 85vw;
        padding-top: 2vh;

    }
    #library-desktop-title,  #ttt-desktop-title , #todo-desktop-title{
        visibility: hidden !important;
        display: none;
        margin-top: -5vh;
    }

  } 
  /* END OF MEDIA QUERY ==================================== */


  #library-mobile-title, #ttt-mobile-title, #todo-mobile-title{
    visibility: hidden;
    display: none;
    }

    #library-desktop-title,  #ttt-desktop-title , #todo-desktop-title{
        visibility: visible ;
    }



 
/* ================= ABSOLUTE ITEMS======================================= */




#mobile-menu{
    background-color: var(--skin-color);
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    position: fixed;
    justify-content: center;
    left: 3vw;
    top: 3vh;
    transition: opacity .5s;
    visibility: hidden;
    display: flex;
    z-index: 101;
}
#mobile-menu-navbar{
    background-color: var(--grey-background);
    filter: invert(.2) ;
    height: 100vh;
    width: 100px;
    position: fixed;
    left: 0vw;
    top: 0vh;
    z-index: 100;
    opacity: 0%;
    transition: opacity .5s;

}
.mobile-menu-navbar-show{
    opacity:100% !important;
    visibility: visible !important;

}


#scroll-up{
    background-color: var(--skin-color);
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    position: fixed;
    display: flex;
    justify-content: center;
    right: 2vw;
    top: 90vh;
    transition: opacity .5s;
    z-index: 100;
}
.scroll-up-icon, .mobile-menu-icon{
    color:var(--title-color);
    font-size: var(--biggest-font-size);
    line-height: 3rem;
}
#scroll-up:hover , #mobile-menu:hover{
    transform: scale(1.1);
}


#night-mode, #set-theme, #day-mode{
    background-color: var(--grey-background);
    filter: invert(.2) ;
    transition: opacity 1s;
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    position: fixed;
    display: flex;
    justify-content: center;
}
.theme-colors{
    background-color: var(--grey-background);
    box-shadow: 3px 3px 5px 3px black;
    height: 3rem;
    width: 12rem;
    border-radius: 5px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    right: 7vw;
    top: 5vh;
    transition: opacity .5s;

}

.theme-color{
    height: 2rem;
    width: 2rem;
    border-radius: 100px;
}
.theme-color:hover{transform: scale(1.1)}
.red-theme{ background-color:  hsl(342, 92%, 46%);}
.green-theme{ background-color: hsl(72, 81%, 43%);}
.cyan-theme{ background-color: rgb(0, 157, 171);}
.blue-theme{ background-color: rgb(0, 60, 199);}
.orange-theme{ background-color:rgb(229, 95, 23);}


#set-theme{
    right: 2vw;
    top: 5vh;
}

#set-theme:hover{
    transform: scale(1.1) ;

}
#night-mode, #day-mode{
    right: 2vw;
    top: 13vh;
    
}

.theme-icon, .night-icon, .day-icon{
    color:var(--title-color);
    font-size: var(--biggest-font-size);
    line-height: 3rem;
    transform: rotate(40deg);
}

.hidden{
    opacity: 0%;
    transform: translateX(0) rotate(0deg);  

}
/* END OF ABSOLUTES */





#desktop-social{visibility: visible;}
#desktop-email{visibility: visible;}

#mobile-social{visibility: hidden;}
#mobile-email{visibility: hidden;}


/* =============== BASE ===============*/
*{
    margin:0px;
    padding: 0px;
    font-family: 'Poppins' , sans-serif;
}
html{ scroll-behavior: smooth;}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
button, input{
    border:none;
    outline: none;
}


/* =============== ⬇️SIDEBAR⬇️ ================= ⬇️SIDEBAR⬇️ ================ ⬇️SIDEBAR⬇️ ================*/
.sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
}

.nav_logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
}
.nav_logo-text{
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;
}

.nav-menu-mobile{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
}
.nav-list-mobile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: .4s;
}

.nav-menu{
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    display: flex;
    width: 100vh;
}
.nav-list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
    transition: .4s;
}
.nav-link{
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
}
.btn-share{
    position: absolute;
    bottom: 1.8rem;
    left:0;
    right:0;
    text-align: center;
}

.social-share{
    font-size: var(--normal-font-size);
}

.active-link, .nav-link:hover{
    color: var(--skin-color);
    transform: scale(1.1);
}
.active-link::after, .nav-link:hover::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;

}
/* ==================== ⬇️ MAIN ⬇️  ==================== */
.main{
    margin-left: 100px;
    height: 100%;
    /* This is to avoid the sidebar */
}

/* ===== ⬇️ Home Section ⬇️  ===== ===== ⬇️ Home Section ⬇️  =====  */ 
/* ===== ⬇️ Home Section ⬇️  ===== ===== ⬇️ Home Section ⬇️  =====  */
#home{
    background-color: var(--grey-background);
    height: 100%;
}
.home-container{
    display: flex;
    align-items: center;
    padding: 3vh 5vw 3vh 5vw;
    height: 100vh;
    background-color: var(--grey-background);
    flex-wrap: wrap-reverse;
    visibility: visible;
}
.mobile-home-container{
    visibility: hidden;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    display: none;
}

.mobile-home-text-container, .mobile-home-img-container{
    display: flex;
    align-items: center;
    width:100%;
    height:30vh;
    flex-wrap: wrap;
    justify-content: center;
}
.mobile-home-intro-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}

.home-text-container, .home-img-container{
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    width:50%;
    height:90vh;
}
.home-text-container{
    flex-direction: column;
    justify-content: space-around;
}
.home-img-container{ 
    justify-content: center;
}
#desktop-img{
    max-height: 65vh;
    border-radius: 5px;
}
#mobile-img{
    max-height: 35vh;
    border-radius: 5px;
}
.home-intro-text{
    max-height:100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.home-intro-text > h1 {
    font-size: 4rem; 
    font-weight: bold;}

.home-email{
    display: flex;
    align-items: center;
    width: 100%;
}
.home-email-child{ margin-left: 17px;}

.home-social-web, .home-social-mobile{
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
    width: 100%;
}


.home-icon-follow{
    font-weight: var(--font-medium);
    position: relative;
}
.home-icon-follow::after{
    content: '';
    position:absolute;
    width: 1rem;
    height:2px;
    background-color: var(--text-color);
    right: -45%;
    top:50%;
}
.home-icon-size-and-color{
    color:var(--text-color);
    font-size: var(--normal-font-size);
}
.email-icon{
    font-size: var(--biggest-font-size);
    color: var(--skin-color);
}

.home-main-button-text{
    color: var(--text-color);
    font-size: 1.125rem;
    font-weight: bold;
}
.home-main-button{
   background-color: var(--skin-color);
   border-radius: 10px;
   text-align: center;
   margin-top: 40px;
   height: 55px;
   line-height: 50px;
   width: 220px;
}

/* <!-- =============== ⬇️ Work ⬇️  =============== --> */
#projects{
    position: relative;
}
.portfolio-text{
    color: var(--skin-color);
    font-weight: bolder;
}
.portfolio-title{
    text-align: center;
    padding-top: 10vh;
    margin-bottom: -6vh;
}
.portfolio-title > h1{ font-size: 2rem; font-weight: bold;}

.todo-project-container , .ttt-project-container, .library-project-container{
    display: flex;
    margin: 20vh 12vw 20vh 10vw;
}


.project-img{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
}
.todo-img, .ttt-img,.lib-img{
    max-width: 45vw;
    border-radius: 5px;
    z-index: -1;
}



.todo-project-text-container,.library-project-text-container, .ttt-project-text-container{
    margin-top: 5px;
    margin-left: 3vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.todo-project-text-container,.library-project-text-container{
    text-align: end;
}
.ttt-project-text-container{
    text-align: start;
}
.project-title{font-size: var(--biggest-font-size);}
.featured-project{color: var(--skin-color);}

.languages-right{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.languages-right > p{
    background-color: var(--grey-background) ;
    filter: invert(.2) ;
    border-radius: 5px;
    padding: 7px;
    margin-left: 10px;
}
.todo-info-p{
    background-color: var(--grey-background);
    padding: 20px;
    margin-left: -70px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgb(27, 27, 27);
}
.ttt-info-box{z-index: 10;}
.ttt-info-box-grey{
    background-color: var(--grey-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px black;
    margin-right: -70px;
}
.languages-left{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;

}
.languages-left > p{
    background-color: var(--grey-background);
    filter: invert(.2) ;

    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
}
.project-links > a{
    background-color: var(--skin-color);
    padding: 3px 5px 3px 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: medium;
}

.project-icon-link{
    color:var(--text-color);
    font-size: 1.5rem;
}

/* ============== Contact =============== */

.contact-container{
    height: 100vh;
    background-color: var(--grey-background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.contact-subtitle{ 
    color: var(--skin-color);
}

.contact-title{
    font-size: var(--biggest-font-size);
    padding-bottom: 7vh;
}

.contact-info{
    width: 45vw;
    text-indent: 30px;
    padding-bottom: 10vh;
}
.contact-link{
    font-size: var(--biggest-font-size);
    color:var(--skin-color)
}
