/* =============== GOOGLE FONTS =============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =============== VARIABLES CSS ===============*/

:root{
    /* ====== Colors ====== */
    
    --skin-color: hsl(342, 92%, 46%);
    --grey-background: rgb(42, 38, 38);
    --title-color:white;
    --text-color: white;
    --body-color:black;

    /* --skin-color:hsl(72, 81%, 43%); */
    /* --skin-color:rgb(0, 157, 171); */
    /* --skin-color:rgb(0, 60, 199); */
    /* --skin-color:rgb(229, 95, 23); */
    
    --biggest-font-size: 3rem;
    --normal-font-size: 1.5rem;
    transition: all .75s ease;

    
}
/* ========== ⬇️ SCREEN 420PX OR LESS ⬇️ ====== ⬇️ SCREEN 420PX OR LESS ⬇️ ==========*/
   
/*when screen is 800px or less */
@media screen and (max-width: 800px) {
    :root{
    --biggest-font-size: 2rem !important;
        margin-left: 0px;
    }
    
    .sidebar{
        display:none;
    }
    .main{
        margin-left: 0px;
    }
    #home{
        margin-left: -100px;
        padding-top: 10vh;
    }
    .home-info > h1{
        font-size: 2.5rem !important;
    }
    .home-container{
        flex-wrap: wrap-reverse;
        width:  100vw !important;
        padding-top: 5vh;
    }
    .home-img-content{
        display: flex;
        justify-content: left  ;
        justify-items: left;
        align-items: flex-start;
        float: left;
        height: 40vh !important;
        width: 80vw !important;
    }
    .home-text-content{
        width: 80vw !important;
        height:60vh !important;
        text-align: center;
        margin-top: -5vh;
    }
    .home-img{
        max-height: 35vh !important;
        max-width: 80vw;
    }
    .see-projects-button{
        margin-left: auto;
        margin-right: auto;
    }
    
    #projects{
        margin-left: -100px;
        
    }
    .project-container{
        flex-wrap: wrap;
        margin-left: -100px;
        max-width: 100vw;
    }
    .project-container-reverse{
        flex-wrap: wrap-reverse !important;
    }
    .ttt-info-box-grey {
        margin-right: 0px !important;
        margin-top: 5vh !important;

    }
    .todo-info-p{
        margin-left: 0px !important;
        margin-top: 5vh !important;
    }
    .todo-img, .ttt-img,.lib-img{
        max-width: 80vw !important;
    }

    .project-description-left, .project-description-right{
        text-align: center !important;
        padding-top: 5vh;
        margin-left: 0px !important;
        margin-right: 0px !important;

    }
    .project-links{
        margin-top: 5vh;
    }


    #content:before, #content:after {
        width:15vw !important; 
        height:15vh !important; 
    }
    #content:before { top: -4.5vh !important;  left: 0 !important;}
    #content:after {top:27vh !important; right: 0vw !important;}


    /* CONTACT */
    .contact-container{
        margin-left: -100px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .contact-info{
        width: 90vw;
        text-indent: 10px;
        padding-bottom: 10vh;
    }
    .contact-link{
        font-size: var(--biggest-font-size);
        margin-bottom: 20vh;

    }
    .home-social{
        justify-content: center;
    }

    #set-theme{
        right: 6vw;
        top: 5vh;
    }

    #set-theme:hover{
        transform: scale(1.1) ;

    }
    #night-mode, #day-mode{
        right: 6vw;
        top: 10vh;
        
    }
    .home-email{
        justify-content: center;
    }
    #mobile-social{
        margin-bottom: 1vh;
        visibility: visible !important;
        margin-left: 9vw;
    }
    #mobile-email {
        margin-left: -15vw;
        margin-top: 1vh;
        visibility: visible !important;
    }

    #web-social{visibility: hidden !important;}
    #web-email{visibility: hidden !important;}
  } 
  /* END OF MEDIA QUERY ==================================== */

#web-social{visibility: visible;}
#web-email{visibility: visible;}
  #mobile-social{
    visibility: hidden;
  }
  #mobile-email{
    visibility: hidden;

  }


/* =============== BASE ===============*/
*{
    margin:0px;
    padding: 0px;
    font-family: 'Poppins' , sans-serif;
}
html{ scroll-behavior: smooth;}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}
h1, h2, h3 {
    color:var(--title-color);
    font-weight: var(--font-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
button, input{
    border:none;
    outline: none;
}


/* =============== ⬇️SIDEBAR⬇️ ================= ⬇️SIDEBAR⬇️ ================ ⬇️SIDEBAR⬇️ ================*/
.sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
}

.nav_logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
}
.nav_logo-text{
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;
}

.nav-menu{
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    display: flex;
    width: 100vh;
}
.nav-list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
    transition: .4s;
}
.nav-link{
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
}
.btn-share{
    position: absolute;
    bottom: 1.8rem;
    left:0;
    right:0;
    text-align: center;
}

.social-share{
    font-size: var(--normal-font-size);
}

.active-link, .nav-link:hover{
    color: var(--skin-color);
    transform: scale(1.1);
}
.active-link::after, .nav-link:hover::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;

}
/* ==================== ⬇️ MAIN ⬇️  ==================== */
.main{
    margin-left: 100px;
    height: 100%;
    /* This is to avoid the sidebar */
}

/* ===== ⬇️ Home Section ⬇️  =====  */
#home{
    background-color: var(--grey-background);
    height: 100%;
}
.home-container{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: var(--grey-background);
    
    

}
.home-text-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width:45vw ;
    
}
.home-img-content{
    height: 100vh;
    width: 100vw;
}
.home-img{
    max-height: 55vh;
    border-radius: 5px;
}

#content{position:relative}
#content:before, #content:after {
    position:absolute; 
    content:' ';
    width:12vh; 
    height:12vh;
    border-color:var(--skin-color);
    border-style:solid; 
    margin-left: -5vh;
    margin-right: -5vh;
    z-index: 0;
}
#content:before {top:-7vh;left:-1vw;border-width: 15px 0 0 15px}
#content:after {top:49vh;right:-1vw;border-width: 0 15px 15px 0}

.home-info{
    max-height:100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.home-info > h1 {font-size: 4rem; font-weight: bold;}
.home-email{
    display: flex;
    align-items: center;
    width: 100%;
}
.home-email-child{ margin-left: 17px;}
.home-social{
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
    width: 100%;
}
.home-icon-follow{
    font-weight: var(--font-medium);
    position: relative;
}
.home-icon-follow::after{
    content: '';
    position:absolute;
    width: 1rem;
    height:2px;
    background-color: var(--text-color);
    right: -45%;
    top:50%;
}
.home-icon-link{
    color:var(--text-color);
    font-size: var(--normal-font-size);
}
.email-icon{
    font-size: var(--biggest-font-size);
    color: var(--skin-color);
}

.see-projects-link{
    color: var(--text-color);
    line-height: 40px;
}
.see-projects-button{
   margin-top: 40px;
   height: 40px;
   width: 200px;
   background-color: var(--skin-color);
   border-radius: 10px;
   text-align: center;
}

/* <!-- =============== ⬇️ Work ⬇️  =============== --> */
#projects{
    position: relative;
}
.portfolio-text{
    color: var(--skin-color);
    font-weight: bolder;
}
.portfolio-title{
    text-align: center;
    padding-top: 10vh;
    margin-bottom: -6vh;
}
.portfolio-title > h1{ font-size: var(--biggest-font-size); font-weight: bold;}

.project-container, .project-container-reverse{
    display: flex;
    margin: 20vh 12vw 20vh 10vw;
}
.project-img{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
}
.todo-img, .ttt-img,.lib-img{
    max-width: 45vw;
    border-radius: 5px;
    z-index: -1;
}
.ttt-info-box{z-index: 10;}

.project-description-right{
    margin-top: 5px;
    margin-left: 3vh;
    text-align: end;
    
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.project-description-right>h1{font-size: var(--biggest-font-size);}
.featured-project{color: var(--skin-color);}
.languages-right{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.languages-right > p{
    background-color: var(--grey-background) ;
    filter: invert(.2) ;
    border-radius: 5px;
    padding: 7px;
    margin-left: 10px;
}
.todo-info-p{
    background-color: var(--grey-background);
    padding: 20px;
    margin-left: -70px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgb(27, 27, 27);
}
.project-description-left{
    margin-top: 5px;
    margin-left: 3vh;
    text-align: start;
    
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.project-title{
    font-size: var(--biggest-font-size);
}
.ttt-info-box-grey{
    background-color: var(--grey-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px black;
    margin-right: -70px;
}
.languages-left{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;

}
.languages-left > p{
    background-color: var(--grey-background);
    filter: invert(.2) ;

    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
}
.project-links > a{
    background-color: var(--skin-color);
    padding: 3px 5px 3px 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: medium;
}

.project-icon-link{
    color:var(--text-color);
    font-size: 1.5rem;
}

/* ============== Contact =============== */

.contact-container{
    height: 100vh;
    background-color: var(--grey-background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.contact-subtitle{ 
    color: var(--skin-color);
}

.contact-title{
    font-size: var(--biggest-font-size);
    padding-bottom: 7vh;
}

.contact-info{
    width: 45vw;
    text-indent: 30px;
    padding-bottom: 10vh;
}
.contact-link{
    font-size: var(--biggest-font-size);
    color:var(--skin-color)
}
/* ================= ABSOLUTE ITEMS======================================= */
#scroll-up{
    background-color: var(--skin-color);
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    position: fixed;
    display: flex;
    justify-content: center;
    right: 2vw;
    top: 90vh;
    transition: opacity .5s;
   
}
.scroll-up-icon{
    color:var(--title-color);
    font-size: var(--biggest-font-size);
    line-height: 3rem;
}
#scroll-up:hover{
    transform: scale(1.1);
}


#night-mode, #set-theme, #day-mode{
    background-color: var(--grey-background);
    filter: invert(.2) ;
    transition: all .75s ease;
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    position: fixed;
    display: flex;
    justify-content: center;
}
.theme-colors{
    background-color: var(--grey-background);

    box-shadow: 3px 3px 5px 3px black;
    height: 3rem;
    width: 12rem;
    border-radius: 5px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    right: 6vw;
    top: 5vh;
    transition: opacity .5s;

}

.theme-color{
    height: 2rem;
    width: 2rem;
    border-radius: 100px;
}
.theme-color:hover{transform: scale(1.1)}
.red-theme{ background-color:  hsl(342, 92%, 46%);}
.green-theme{ background-color: hsl(72, 81%, 43%);}
.cyan-theme{ background-color: rgb(0, 157, 171);}
.blue-theme{ background-color: rgb(0, 60, 199);}
.orange-theme{ background-color:rgb(229, 95, 23);}


#set-theme{
    right: 2vw;
    top: 5vh;
}

#set-theme:hover{
    transform: scale(1.1) ;

}
#night-mode, #day-mode{
    right: 2vw;
    top: 13vh;
    
}

.theme-icon, .night-icon, .day-icon{
    color:var(--title-color);
    font-size: var(--biggest-font-size);
    line-height: 3rem;
    transform: rotate(40deg);
}

.hidden{
    opacity: 0%;
    transform: translateX(0) rotate(0deg);  

}